---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <div class="main-banner page-banner homepage-domain-search">
    <div class="img-up">
      <div class="container">
        <div class="row g-4 align-items-center">
          <div class="col-lg-6">
            <h1>Bulk Domain Registration</h1>
            <h3>Register upto thousand's of domain names</h3>
            <p>Once you enter your list, our tool will instantly submit all domains to the respective Registries (thus bypassing the check availability). You will receive an email at <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="a7cfc8d4d3cec9c0cfd2c5e7c0cac6cecb89c4c8ca">[email&#160;protected]</a> with a report of the domains that we were registered/unavailable.</p>
            <form class="homepage-domain-form d-block">
              <input type="text" placeholder="Type the domain you want" required="">
              <button class="btns one submit mt-3">Search</button>
            </form>
          </div>
          <div class="col-lg-6">
            <div class="text-center text-lg-end"> <img src="/images/domain-img1.png" alt="Reseller Hosting"> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="section-gap main-banner border-0 bg-none">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="inner-content">
            <h3 class="mb-3 text-primary">Note:</h3>
            <p><span><i class="bi bi-check2-square text-primary"></i></span> <span>The following domain name extensions are not supported for registration from here: .NYC, .FOUNDATION, .FR, .BERLIN, .EU, .ES, .DE, .CO, .CN, .CA, .NET.BR, .BLOG.BR, .ADV.BR, .ENG.BR, .ART.BR, .IND.BR, .ECO.BR, .ARQ.BR, .PRO.BR, .WIKI.BR, .MUS.BR, .COM.CO, .NET.CO, .NOM.CO, .COM.CN, .NET.CN, .ORG.CN, .TEL, .AU, .COM.AU, .NET.AU, .UK, .QUEBEC, .ORG.UK, .CO.UK, .ME.UK, .RU, .COM.RU, .NET.RU, .ORG.RU, .ONG, .NGO, .COM.BR, .NZ, .NL, .CO.NZ, .NET.NZ, .ORG.NZ, .MX, .COM.MX, .ORG.MX, .SCOT</span></p>
            <p><span><i class="bi bi-check2-square text-primary"></i></span> <span>You will need funds in your customer advance account to register domain names using this tool. Your current customer advance account balance is ৳ 0.00. You can add funds to your customer advance account by clicking here.</span></p>
            <p><span><i class="bi bi-check2-square text-primary"></i></span> <span>Unlike the standard registration process, this method bypasses the check availability step and directly registers the domain names that you specify, if available.</span></p>
            <p><span><i class="bi bi-check2-square text-primary"></i></span> <span>This tool is highly optimized to register domain names in bulk. It will instantly submit all domain names to the respective registry using high-speed, multi-threaded connections thereby maximizing the chances of getting the domain names that you want. However, it may take several hours before these domain names start appearing in your control panel.</span></p>
            <p><span><i class="bi bi-check2-square text-primary"></i></span> <span>You will receive an email report which shows the status (successfully registered/domain unavailable) of all the domain names submitted by you at <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="e1898e9295888f86899483a1868c80888dcf828e8c">[email&#160;protected]</a>.</span></p>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
