---
import Layout from '../layouts/Layout.astro';
---

<Layout
  title="Elite Host – Premium Web Hosting Services for Your Business"
  description="Elite Host offers top-tier, reliable, and fast web hosting services tailored to meet the unique needs of businesses. Our hosting solutions are designed for performance, security, and scalability, ensuring your website runs smoothly 24/7."
  keywords="Elite Host, premium web hosting, business web hosting, reliable hosting, fast web hosting, secure web hosting, scalable hosting solutions, high-performance hosting, hosting services for businesses, 24/7 website hosting"
  author="RedCheap"
  ogTitle="Elite Host – Premium Web Hosting Services for Your Business"
  ogDescription="Elite Host offers top-tier, reliable, and fast web hosting services tailored to meet the unique needs of businesses. Our hosting solutions are designed for performance, security, and scalability, ensuring your website runs smoothly 24/7."
  ogImage="URL_to_image"
  ogUrl="Your Website URL"
  twitterTitle="Elite Host – Premium Web Hosting Services for Your Business"
  twitterDescription="Elite Host offers top-tier, reliable, and fast web hosting services tailored to meet the unique needs of businesses. Our hosting solutions are designed for performance, security, and scalability, ensuring your website runs smoothly 24/7."
  twitterImage="URL_to_image"
>
  <!-- =====================
 Banner
===================== -->
<div class="main-banner page-banner">
  <div class="img-up">
    <div class="container">
      <div class="row g-4 align-items-center">
        <div class="col-lg-6">
          <div class="inner-content"> <span class="top-heading">Cloud</span>
            <h1>Simplicity of Shared Hosting with the Power of Cloud</h1>
            <h3>Get fast, secure, and scalable Cloud hosting at affordable prices.</h3>
            <ul class="banner-list icon">
              <li><i class="ri-cpu-line me-2"></i>High Performance Servers</li>
              <li><i class="bi bi-speedometer2 me-2"></i>Full Root Access</li>
              <li><i class="bi bi-gear me-2"></i>Scalable Resources</li>
              <li><i class="bi bi-headset me-2"></i>24/7 Support Available</li>
            </ul>
            <h4 class="mt-3"> <span>Starts at just</span> <sup>৳</sup> <strong>199.99</strong> <small>/mo</small> </h4>
            <div class="inline-btns mt-3"> <a class="btns one" href="#plans">Get Started Now<i class="far fa-arrow-right"></i></a> </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="text-center text-lg-end"> <img src="/images/cloud-banner.png" alt="Web Hosting"> </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- =======================
Plan Section
======================= -->

<section id="plans" class="section-gap">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-header center gap-bottom">
          <h2>Choose Your Plan</h2>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing.</p>
        </div>
      </div>
    </div>
    <div class="row gy-4">
      <div class="col-12 plans-design-three">
        <div class="row">
          <div class="col-12">
            <div class="plan-head">
              <h3>NY-DH1<img src="/images/intel.svg" width="48" height="32" alt=""></h3>
              <span class="label">Available</span> </div>
          </div>
          <div class="col-12">
            <ul>
              <li> <img src="/images/icon-cpu.png" alt=""> <strong>Intel® Xeon™ E3-1270 v3</strong><br>
                3.5 GHz, 4 cores </li>
              <li> <img src="/images/icon-ram.png" alt=""> 32 GB DDR3<br>
                Memory </li>
              <li> <img src="/images/icon-ssd.png" alt=""> 1 × 2 TB HDD<br>
                Storage </li>
              <li> <img src="/images/icon-bandwidth.png" alt=""> 10 TB Bandwidth<br>
                1 Gbps Port </li>
              <li> <img src="/images/icon-coins.png" alt=""> <strong>৳49.99/month</strong> <span class="was-price">was ৳99.99</span> </li>
              <li> <a href="#" class="btns three mb-4 mb-lg-0 w-100">Select Plan</a> </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 plans-design-three">
        <div class="row">
          <div class="col-12">
            <div class="plan-head">
              <h3>NY-DH2<img src="/images/intel.svg" width="48" height="32" alt=""></h3>
              <span class="label">Available</span> </div>
          </div>
          <div class="col-12">
            <ul>
              <li> <img src="/images/icon-cpu.png" alt=""> <strong>Intel® Xeon™ E3-1270 v3</strong><br>
                3.5 GHz, 4 cores </li>
              <li> <img src="/images/icon-ram.png" alt=""> 32 GB DDR3<br>
                Memory </li>
              <li> <img src="/images/icon-ssd.png" alt=""> 1 × 2 TB HDD<br>
                Storage </li>
              <li> <img src="/images/icon-bandwidth.png" alt=""> 10 TB Bandwidth<br>
                1 Gbps Port </li>
              <li> <img src="/images/icon-coins.png" alt=""> <strong>৳49.99/month</strong> <span class="was-price">was ৳99.99</span> </li>
              <li> <a href="#" class="btns three mb-4 mb-lg-0 w-100">Select Plan</a> </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 plans-design-three">
        <div class="row">
          <div class="col-12">
            <div class="plan-head">
              <h3>LA-DS1<img src="/images/intel.svg" width="48" height="32" alt=""></h3>
              <span class="label">Available</span> </div>
          </div>
          <div class="col-12">
            <ul>
              <li> <img src="/images/icon-cpu.png" alt=""> <strong>Intel® Xeon™ E3-1270 v3</strong><br>
                3.5 GHz, 4 cores </li>
              <li> <img src="/images/icon-ram.png" alt=""> 32 GB DDR3<br>
                Memory </li>
              <li> <img src="/images/icon-ssd.png" alt=""> 1 × 2 TB HDD<br>
                Storage </li>
              <li> <img src="/images/icon-bandwidth.png" alt=""> 10 TB Bandwidth<br>
                1 Gbps Port </li>
              <li> <img src="/images/icon-coins.png" alt=""> <strong>৳49.99/month</strong> <span class="was-price">was ৳99.99</span> </li>
              <li> <a href="#" class="btns three mb-4 mb-lg-0 w-100">Select Plan</a> </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 plans-design-three">
        <div class="row">
          <div class="col-12">
            <div class="plan-head">
              <h3>LA-DS2<img src="/images/intel.svg" width="48" height="32" alt=""></h3>
              <span class="label">Available</span> </div>
          </div>
          <div class="col-12">
            <ul>
              <li> <img src="/images/icon-cpu.png" alt=""> <strong>Intel® Xeon™ E3-1270 v3</strong><br>
                3.5 GHz, 4 cores </li>
              <li> <img src="/images/icon-ram.png" alt=""> 32 GB DDR3<br>
                Memory </li>
              <li> <img src="/images/icon-ssd.png" alt=""> 1 × 2 TB HDD<br>
                Storage </li>
              <li> <img src="/images/icon-bandwidth.png" alt=""> 10 TB Bandwidth<br>
                1 Gbps Port </li>
              <li> <img src="/images/icon-coins.png" alt=""> <strong>৳49.99/month</strong> <span class="was-price">was ৳99.99</span> </li>
              <li> <a href="#" class="btns three mb-4 mb-lg-0 w-100">Select Plan</a> </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 plans-design-three">
        <div class="row">
          <div class="col-12">
            <div class="plan-head">
              <h3>NY-DS1<img src="/images/intel.svg" width="48" height="32" alt=""></h3>
              <span class="label">Available</span> </div>
          </div>
          <div class="col-12">
            <ul>
              <li> <img src="/images/icon-cpu.png" alt=""> <strong>Intel® Xeon™ E3-1270 v3</strong><br>
                3.5 GHz, 4 cores </li>
              <li> <img src="/images/icon-ram.png" alt=""> 32 GB DDR3<br>
                Memory </li>
              <li> <img src="/images/icon-ssd.png" alt=""> 1 × 2 TB HDD<br>
                Storage </li>
              <li> <img src="/images/icon-bandwidth.png" alt=""> 10 TB Bandwidth<br>
                1 Gbps Port </li>
              <li> <img src="/images/icon-coins.png" alt=""> <strong>৳49.99/month</strong> <span class="was-price">was ৳99.99</span> </li>
              <li> <a href="#" class="btns three mb-4 mb-lg-0 w-100">Select Plan</a> </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 plans-design-three">
        <div class="row">
          <div class="col-12">
            <div class="plan-head">
              <h3>NY-DS2<img src="/images/intel.svg" width="48" height="32" alt=""></h3>
              <span class="label">Available</span> </div>
          </div>
          <div class="col-12">
            <ul>
              <li> <img src="/images/icon-cpu.png" alt=""> <strong>Intel® Xeon™ E3-1270 v3</strong><br>
                3.5 GHz, 4 cores </li>
              <li> <img src="/images/icon-ram.png" alt=""> 32 GB DDR3<br>
                Memory </li>
              <li> <img src="/images/icon-ssd.png" alt=""> 1 × 2 TB HDD<br>
                Storage </li>
              <li> <img src="/images/icon-bandwidth.png" alt=""> 10 TB Bandwidth<br>
                1 Gbps Port </li>
              <li> <img src="/images/icon-coins.png" alt=""> <strong>৳49.99/month</strong> <span class="was-price">was ৳99.99</span> </li>
              <li> <a href="#" class="btns three mb-4 mb-lg-0 w-100">Select Plan</a> </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-gap bg1">
  <div class="container">
    <div class="row g-4 align-items-center flex-lg-row-reverse">
      <div class="col-lg-6">
        <div class="section-header">
          <h2>Control Panels of VDS Server Service</h2>
          <p>Manage your VDS server effortlessly with user-friendly control panels. Enjoy seamless performance, full root access, advanced security, and easy customization for optimal hosting experience. Simplify server management with powerful tools and features.<br>
            Manage your VDS server easily with powerful control panels. Enjoy full control, seamless navigation, and efficient resource management with user-friendly interfaces, ensuring a smooth and hassle-free hosting experience.</p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="text-center text-lg-start"> <img src="/images/cpanel-tools.webp" alt="Reseller Hosting" width="500"> </div>
      </div>
    </div>
  </div>
</section>
<section class="section-gap">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-header gap-bottom center">
          <h2>Maximum Performance, Total Control</h2>
          <p>Every hosting plan comes with these premium features, plus many more.</p>
        </div>
      </div>
    </div>
    <div class="row g-lg-5 gy-4">
      <div class="col-lg-4 col-md-6 col-12">
        <div class="service-two">
          <div class="icon"> <img src="/images/data-management.png" alt="image"> </div>
          <div class="content">
            <h4>Powerful Configurations</h4>
            <p>Our servers are powered by SSD storage, DDR4 Memory and Xenon D processors, and can smoothly handle any type of workload — from a critical business application to a high-traffic website.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="service-two">
          <div class="icon"> <img src="/images/data-integrity.png" alt="image"> </div>
          <div class="content">
            <h4>Quick Provisioning</h4>
            <p>We get you online quickly. Your server is provisioned within minutes.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="service-two">
          <div class="icon"> <img src="/images/data-storage.png" alt="image"> </div>
          <div class="content">
            <h4>Server Administration Panel</h4>
            <p>Never lose access to your server. Our Server Administration Panel gives you total control at all times. With features like Rebuild, Web-based VNC, Restart, Shutdown and Resource Monitoring you can manage your server easily.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="service-two">
          <div class="icon"> <img src="/images/data-encryption.png" alt="image"> </div>
          <div class="content">
            <h4>Additional Storage*</h4>
            <p>Our HDD servers come with the flexibility of additional storage. You can easily scale the storage as your business grows.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="service-two">
          <div class="icon"> <img src="/images/business-partnership.png" alt="image"> </div>
          <div class="content">
            <h4>Easily Configurable</h4>
            <p>Choose from multiple Linux flavours and hosting panels. You can even add WHMCS add-on to have a complete billing solution.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="service-two">
          <div class="icon"> <img src="/images/encouragement.png" alt="image"> </div>
          <div class="content">
            <h4>99.99% uptime</h4>
            <p>Our servers are located a top-tier data centres which are backed by redundant ISP links and Neustar DDoS protection to ensure your site is up and available all the time.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-gap bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-header gap-bottom center">
          <h2 class="text-white">How It Works</h2>
          <p class="text-white">Easily get up and running in just a few minutes!</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="how-it-works">
        <div class="row g-4">
          <div class="col-lg-4">
            <div class="how-it-works-card">
              <div class="icon">
                <div class="step">1</div>
                <img src="/images/fast-time.png" alt=""> </div>
              <h4>Choose a Plan</h4>
              <p>Choose the plan that works best for you as it can always be upgraded.</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="how-it-works-card">
              <div class="icon">
                <div class="step">2</div>
                <img src="/images/data-processing.png" alt=""> </div>
              <h4>Configure WHM</h4>
              <p>Configure the cPanel packages that you will be offering to your clients.</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="how-it-works-card">
              <div class="icon">
                <div class="step">3</div>
                <img src="/images/business-partnership.png" alt=""> </div>
              <h4>Provide Hosting</h4>
              <p>Create cPanel accounts for your clients or yourself to get started!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-gap bg1">
  <div class="container">
    <div class="row g-4 align-items-center">
      <div class="col-lg-6">
        <div class="section-header">
          <h2>What is VDS?</h2>
          <p>VDS (Virtual Dedicated Server) is a hosting solution that provides dedicated resources within a virtual environment. It offers better performance, security, and control compared to shared hosting, making it ideal for businesses and developers needing reliable server performance. <br>
            VDS (Virtual Dedicated Server) is a type of hosting service that provides a dedicated portion of a physical server with its own resources, including CPU, RAM, and storage. Unlike shared hosting, a VDS operates independently, offering better performance, security, and customization options. It is an ideal solution for businesses and individuals needing reliable and scalable hosting. </p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="text-center text-lg-start"> <img src="/images/free-ssl.webp" alt="Reseller Hosting"> </div>
      </div>
    </div>
  </div>
</section>
<section class="section-gap">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-header gap-bottom center">
          <h2>Customer Reviews</h2>
          <p>See what our customers are saying about us!</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="swiper swiper-testimonial">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="testimonial-card">
                <div class="about-author"> <span class="author-name">Leonard Downs</span>
                  <label class="author-post">website Designer</label>
                </div>
                <p class="detail mb-4">"They were able to accommodate my requests so quickly. No excuses, no waiting, I highly recommend them for their quick response time and great service. Very cool. Site speed has improved and support is always fast and efficient, an excellent service at the right price."</p>
                <div class="customer">
                  <div class="img"> <img src="/images/avatar.jpg" alt="img"> </div>
                  <div class="star">
                    <ul>
                      <li><i class="bi bi-star-fill"></i></li>
                      <li><i class="bi bi-star-fill"></i></li>
                      <li><i class="bi bi-star-fill"></i></li>
                      <li><i class="bi bi-star-fill"></i></li>
                      <li><i class="bi bi-star-fill"></i></li>
                    </ul>
                    <label>5.0</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="testimonial-card">
                <div class="about-author"> <span class="author-name">Leonard Downs</span>
                  <label class="author-post">website Designer</label>
                </div>
                <p class="detail mb-4">"They were able to accommodate my requests so quickly. No excuses, no waiting, I highly recommend them for their quick response time and great service. Very cool. Site speed has improved and support is always fast and efficient, an excellent service at the right price."</p>
                <div class="customer">
                  <div class="img"> <img src="/images/avatar.jpg" alt="img"> </div>
                  <div class="star">
                    <ul>
                      <li><i class="bi bi-star-fill"></i></li>
                      <li><i class="bi bi-star-fill"></i></li>
                      <li><i class="bi bi-star-fill"></i></li>
                      <li><i class="bi bi-star-fill"></i></li>
                      <li><i class="bi bi-star-fill"></i></li>
                    </ul>
                    <label>5.0</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="testimonial-card">
                <div class="about-author"> <span class="author-name">Leonard Downs</span>
                  <label class="author-post">website Designer</label>
                </div>
                <p class="detail mb-4">"They were able to accommodate my requests so quickly. No excuses, no waiting, I highly recommend them for their quick response time and great service. Very cool. Site speed has improved and support is always fast and efficient, an excellent service at the right price."</p>
                <div class="customer">
                  <div class="img"> <img src="/images/avatar.jpg" alt="img"> </div>
                  <div class="star">
                    <ul>
                      <li><i class="bi bi-star-fill"></i></li>
                      <li><i class="bi bi-star-fill"></i></li>
                      <li><i class="bi bi-star-fill"></i></li>
                      <li><i class="bi bi-star-fill"></i></li>
                      <li><i class="bi bi-star-fill"></i></li>
                    </ul>
                    <label>5.0</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="testimonial-card">
                <div class="about-author"> <span class="author-name">Leonard Downs</span>
                  <label class="author-post">website Designer</label>
                </div>
                <p class="detail mb-4">"They were able to accommodate my requests so quickly. No excuses, no waiting, I highly recommend them for their quick response time and great service. Very cool. Site speed has improved and support is always fast and efficient, an excellent service at the right price."</p>
                <div class="customer">
                  <div class="img"> <img src="/images/avatar.jpg" alt="img"> </div>
                  <div class="star">
                    <ul>
                      <li><i class="bi bi-star-fill"></i></li>
                      <li><i class="bi bi-star-fill"></i></li>
                      <li><i class="bi bi-star-fill"></i></li>
                      <li><i class="bi bi-star-fill"></i></li>
                      <li><i class="bi bi-star-fill"></i></li>
                    </ul>
                    <label>5.0</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-gap ">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10 bg1 support">
        <div class="row g-4 align-items-center justify-content-between">
          <div class="col-lg-7">
            <div class="section-header">
              <h2>Our Solution Support Center</h2>
              <p>Our Solution Support Center provides expert assistance, troubleshooting, and guidance for seamless technical support.</p>
              <div class="mt-3">
                <ul>
                  <li class="text-center"> <span class="icon"><img src="/images/talk.webp" alt=""></span>
                    <label class="content">0212 909 9656</label>
                  </li>
                  <li class="text-center"> <span class="icon"><img src="/images/support2.webp" alt=""></span>
                    <label class="content">24*7 Support</label>
                  </li>
                  <li class="text-center"> <span class="icon"><img src="/images/customer.webp" alt=""></span>
                    <label class="content">Talk to customer</label>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="text-center text-lg-end"> <img src="/images/support-center.png" alt="Reseller Hosting"> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-gap">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="section-header gap-bottom center">
          <h2>Frequently Asked Questions</h2>
          <p>Get the answers to frequently asked questions about our premium hosting service.</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10">
        <ul class="accordion">
          <li>
            <h5>Which hosting control panels do you offer?</h5>
            <p> You can buy Plesk or cPanel license during the server purchase, or at a later time when the need arises. </p>
          </li>
          <li>
            <h5>Which billing panels do you offer? </h5>
            <p>We offer WHMCS as a billing panel for your dedicated server. You can purchase the license from us at a minimal cost and install the application on your dedicated server. </p>
          </li>
          <li>
            <h5>What are the functions of the Server Administration Panel? </h5>
            <p>Every server comes with its Server Administration Panel by default. This panel allows you to carry out crucial server administration tasks and monitor resource consumption like GUI-based CPU, Memory, Storage & Inodes utilisation, IPs and Storage (for HDD servers only) details and functions to Rebuild, Restart, Web-based VNC and reset access credentials. </p>
          </li>
          <li>
            <h5> Can I configure my own RAID for drives? </h5>
            <p> The Dedicated Servers come pre-configured with RAID 1. At present, we don’t allow customisation of RAID level.<a href="https://rcthemesupersitedemo.supersite2.myorderbox.com/dedicated-servers.php#" class="letusknowmore">new features requests</a> </p>
          </li>
          <li>
            <h5>What is the port speed of the server?</h5>
            <p>The server uplink port speed is up to 1 Gbps.</p>
          </li>
          <li>
            <h5> How long does it take for the server to be ready?</h5>
            <p>After the payment, your server will be provisioned in about 30 minutes and you can access it via SSH. The disk resize operation, however, may still run in the background for a while after provisioning.</p>
          </li>
          <li>
            <h5>What is the level of support that you provide with the server?</h5>
            <p>To ensure high uptime and accessibility at all times, we are available 24x7 for any hardware, network, booting, O.S. or login issues. Our System Administration Support will also assist you with basic cPanel & Firewall setup and their issues.</p>
          </li>
          <li>
            <h5>Can I use virtualisation software on the server? </h5>
            <p>Our Dedicated Servers are virtualised (1:1). Thus, nested virtualisation will not work due to network restrictions on the host system. </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
</Layout>
