---
import Layout from '../layouts/Layout.astro';
---

<Layout
  title="Elite Host – Premium Web Hosting Services for Your Business"
  description="Elite Host offers top-tier, reliable, and fast web hosting services tailored to meet the unique needs of businesses. Our hosting solutions are designed for performance, security, and scalability, ensuring your website runs smoothly 24/7."
  keywords="Elite Host, premium web hosting, business web hosting, reliable hosting, fast web hosting, secure web hosting, scalable hosting solutions, high-performance hosting, hosting services for businesses, 24/7 website hosting"
  author="RedCheap"
  ogTitle="Elite Host – Premium Web Hosting Services for Your Business"
  ogDescription="Elite Host offers top-tier, reliable, and fast web hosting services tailored to meet the unique needs of businesses. Our hosting solutions are designed for performance, security, and scalability, ensuring your website runs smoothly 24/7."
  ogImage="URL_to_image"
  ogUrl="Your Website URL"
  twitterTitle="Elite Host – Premium Web Hosting Services for Your Business"
  twitterDescription="Elite Host offers top-tier, reliable, and fast web hosting services tailored to meet the unique needs of businesses. Our hosting solutions are designed for performance, security, and scalability, ensuring your website runs smoothly 24/7."
  twitterImage="URL_to_image"
>
  <!-- =====================
 Banner
===================== -->
<div class="main-banner page-banner">
  <div class="img-up">
    <div class="container">
      <div class="row g-4 align-items-center">
        <div class="col-lg-6">
          <div class="inner-content"> <span class="top-heading">SSL Security</span>
            <h1>Secure your website and customer data</h1>
            <h3>A secure, reliable and powerful platform crafted for WordPress</h3>
            <ul class="banner-list icon">
              <li><i class="bi bi-lock"></i>Data Encryption</li>
              <li><i class="bi bi-shield-lock"></i>Improved SEO Rankings</li>
              <li><i class="bi bi-graph-up-arrow"></i>Authentication and Trust</li>
              <li><i class="bi bi-person-check"></i>Boosting User Confidence</li>
            </ul>
            <h4 class="mt-3"> <span>Starts at just</span> <sup>৳</sup> <strong>147.72</strong> <small>/mo</small> </h4>
            <div class="inline-btns mt-3"> <a class="btns one" href="#plans">Get Started Now<i class="far fa-arrow-right"></i></a> </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="text-center text-lg-end"> <img src="/images/wordpress_banner.png" alt="Reseller Hosting"> </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- =======================
Plan Section
======================= -->

<section id="plans" class="section-gap">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-header center gap-bottom">
          <h2>Choose Your Plan</h2>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="swiper swiper-plans">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="plans-design-one"> <img src="/images/database.png" alt="icon" class="icon">
                <h3>SSl-1</h3>
                <p>Lorem ipsum dolor sit amet.</p>
                <h6><del>৳25.25</del> / Month</h6>
                <h4> <sup>৳</sup> 16.20 <small>/year</small> <span class="badge-plan">Offer</span> </h4>
                <a class="btns three" href="">Select Plan</a>
                <ul>
                <li><i class="ri-global-line"></i> 3 Domains</li>
                  <li><i class="ri-hard-drive-2-line"></i> Unmetered Disk Space </li>
                  <li><i class="ri-exchange-line"></i> Unmetered Data Transfer</li>
                  <li><i class="ri-mail-line"></i> Unlimited Email Accounts </li>
                  <li><i class="fal fa-globe"></i>LiteSpeed Web Server </li>
                  <li><i class="fal fa-lock"></i> Free SSL Certificate</li>
                </ul>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="plans-design-one"> <img src="/images/server.png" alt="icon" class="icon">
                <h3>SSl-2</h3>
                <p>Lorem ipsum dolor sit amet.</p>
                <h6><del>৳25.25</del> / Month</h6>
                <h4> <sup>৳</sup> 16.20 <small>/year</small> <span class="badge-plan">Offer</span> </h4>
                <a class="btns three" href="">Select Plan</a>
                <ul>
                <li><i class="ri-global-line"></i> 3 Domains</li>
                  <li><i class="ri-hard-drive-2-line"></i> Unmetered Disk Space </li>
                  <li><i class="ri-exchange-line"></i> Unmetered Data Transfer</li>
                  <li><i class="ri-mail-line"></i> Unlimited Email Accounts </li>
                  <li><i class="fal fa-globe"></i>LiteSpeed Web Server </li>
                  <li><i class="fal fa-lock"></i> Free SSL Certificate</li>
                </ul>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="plans-design-one"> <img src="/images/servers.png" alt="icon" class="icon">
                <h3>SSl-3</h3>
                <p>Lorem ipsum dolor sit amet.</p>
                <h6><del>৳25.25</del> / Month</h6>
                <h4> <sup>৳</sup> 16.20 <small>/year</small> <span class="badge-plan">Offer</span> </h4>
                <a class="btns three" href="">Select Plan</a>
                <ul>
                <li><i class="ri-global-line"></i> 3 Domains</li>
                  <li><i class="ri-hard-drive-2-line"></i> Unmetered Disk Space </li>
                  <li><i class="ri-exchange-line"></i> Unmetered Data Transfer</li>
                  <li><i class="ri-mail-line"></i> Unlimited Email Accounts </li>
                  <li><i class="fal fa-globe"></i>LiteSpeed Web Server </li>
                  <li><i class="fal fa-lock"></i> Free SSL Certificate</li>
                </ul>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="plans-design-one"> <img src="/images/database2.png" alt="icon" class="icon">
                <h3>SSl-4</h3>
                <p>Lorem ipsum dolor sit amet.</p>
                <h6><del>৳25.25</del> / Month</h6>
                <h4> <sup>৳</sup> 16.20 <small>/year</small> <span class="badge-plan">Offer</span> </h4>
                <a class="btns three" href="">Select Plan</a>
                <ul>
                <li><i class="ri-global-line"></i> 3 Domains</li>
                  <li><i class="ri-hard-drive-2-line"></i> Unmetered Disk Space </li>
                  <li><i class="ri-exchange-line"></i> Unmetered Data Transfer</li>
                  <li><i class="ri-mail-line"></i> Unlimited Email Accounts </li>
                  <li><i class="fal fa-globe"></i>LiteSpeed Web Server </li>
                  <li><i class="fal fa-lock"></i> Free SSL Certificate</li>
                </ul>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="plans-design-one"> <img src="/images/cloud.png" alt="icon" class="icon">
                <h3>SSl-5</h3>
                <p>Lorem ipsum dolor sit amet.</p>
                <h6><del>৳25.25</del> / Month</h6>
                <h4> <sup>৳</sup> 16.20 <small>/year</small> <span class="badge-plan">Offer</span> </h4>
                <a class="btns three" href="">Select Plan</a>
                <ul>
                <li><i class="ri-global-line"></i> 3 Domains</li>
                  <li><i class="ri-hard-drive-2-line"></i> Unmetered Disk Space </li>
                  <li><i class="ri-exchange-line"></i> Unmetered Data Transfer</li>
                  <li><i class="ri-mail-line"></i> Unlimited Email Accounts </li>
                  <li><i class="fal fa-globe"></i>LiteSpeed Web Server </li>
                  <li><i class="fal fa-lock"></i> Free SSL Certificate</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-gap">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-header gap-bottom center">
          <h2>Why buy an SSL certificate</h2>
          <p>Enjoy top hosting features: fast performance, 99.9% uptime, scalable plans, SSD storage, free SSL, and expert support.</p>
        </div>
      </div>
    </div>
    <div class="row g-lg-5 gy-4 justify-content-center">
      <div class="col-lg-4 col-md-6 col-12">
        <div class="service-one">
          <div class="icon"> <img src="/images/data-protection.png" alt="image"> </div>
          <div class="content">
            <h4>Rock-solid security</h4>
            <p>Comodo's SSL certificates provide upto 128 or 256-bit encryption for maximum security of your website visitors' data</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="service-one">
          <div class="icon"> <img src="/images/launch.png" alt="image"> </div>
          <div class="content">
            <h4>Boost customer confidence</h4>
            <p>Many customers actively look for the SSL lock icon before handing over sensitive data. Get an SSL certificate to increase your customer's trust in your online business.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="service-one">
          <div class="icon"> <img src="/images/www.png" alt="image"> </div>
          <div class="content">
            <h4>Better SEO rankings</h4>
            <p>Google gives higher rankings to websites secured with SSL certificates. Which means SSL certificates are critical if you're serious about your online business.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="service-one">
          <div class="icon"> <img src="/images/gdpr.png" alt="image"> </div>
          <div class="content">
            <h4>Comodo Secure Seal</h4>
            <p>Your certificate comes with a Comodo Secure Seal that serves as a constant reminder to customers that your site is protected</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="service-one">
          <div class="icon"> <img src="/images/business-partnership.png" alt="image"> </div>
          <div class="content">
            <h4>30-day money back guarantee</h4>
            <p>All our SSL certificates come with a 30-day Money Back Guarantee. No questions asked.</p>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</section>
<section class="section-gap ">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10 bg1 support">
        <div class="row g-4 align-items-center justify-content-between">
          <div class="col-lg-7">
            <div class="section-header">
              <h2>Our Solution Support Center</h2>
              <p>Our Solution Support Center provides expert assistance, troubleshooting, and guidance for seamless technical support.</p>
              <div class="mt-3">
                <ul>
                  <li class="text-center"> <span class="icon"><img src="/images/talk.webp" alt=""></span>
                    <label class="content">0212 909 9656</label>
                  </li>
                  <li class="text-center"> <span class="icon"><img src="/images/support2.webp" alt=""></span>
                    <label class="content">24*7 Support</label>
                  </li>
                  <li class="text-center"> <span class="icon"><img src="/images/customer.webp" alt=""></span>
                    <label class="content">Talk to customer</label>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="text-center text-lg-end"> <img src="/images/support-center.png" alt="Reseller Hosting"> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-gap">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="section-header gap-bottom center">
          <h2>Frequently Asked Questions</h2>
          <p>Get the answers to frequently asked questions about our premium hosting service.</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10">
        <ul class="accordion">
          <li>
            <h5> What is an SSL Certificate? </h5>
            <p> An SSL Certificate is a digital certificate issued for a domain by a central authority called the Certificate Authority. To be issued an SSL Certificate, you must purchase an SSL Certificate and then go through a verification process conducted by the Certificate Authority. </p>
          </li>
          <li>
            <h5> Why should I buy an SSL Certificate? </h5>
            <p>An SSL Certificate does 2 things: a. Encrypt the information sent from your user's browser to your website b. Authenticate your website's identity.<br>
                By doing these 2 things, an SSL Certificate protects your customers and in turn increases their trust in your online business. This is especially important if your website requires users to login using passwords or enter sensitive information such as credit card details.</p>
          </li>
          <li>
            <h5> Do SSL Certificates work in all browsers?</h5>
            <p>SSL Certificates are compatible with all major browsers.</p>
          </li>
          <li>
            <h5> Can I upgrade my SSL Certificates?</h5>
            <p> Unfortunately, we don't support upgrades/downgrades at the moment. If required you can purchase a new certificate and install it on the same web server as the old certificate </p>
          </li>
          <li>
            <h5>Do I need technical expertise to set up an SSL Certificate on my website?</h5>
            <p>While it isn't difficult to install an SSL Certificate, it does involve following a series of steps. You can find more information in our KnowledgeBase.</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
</Layout>
