---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Elite Host – Premium Web Hosting Services for Your Business"
  description="Elite Host offers top-tier, reliable, and fast web hosting services tailored to meet the unique needs of businesses. Our hosting solutions are designed for performance, security, and scalability, ensuring your website runs smoothly 24/7."
  keywords="Elite Host, premium web hosting, business web hosting, reliable hosting, fast web hosting, secure web hosting, scalable hosting solutions, high-performance hosting, hosting services for businesses, 24/7 website hosting"
  author="RedCheap"
  ogTitle="Elite Host – Premium Web Hosting Services for Your Business"
  ogDescription="Elite Host offers top-tier, reliable, and fast web hosting services tailored to meet the unique needs of businesses. Our hosting solutions are designed for performance, security, and scalability, ensuring your website runs smoothly 24/7."
  ogImage="URL_to_image"
  ogUrl="Your Website URL"
  twitterTitle="Elite Host – Premium Web Hosting Services for Your Business"
  twitterDescription="Elite Host offers top-tier, reliable, and fast web hosting services tailored to meet the unique needs of businesses. Our hosting solutions are designed for performance, security, and scalability, ensuring your website runs smoothly 24/7."
  twitterImage="URL_to_image"
>
  <div class="main-banner homepage-domain-search">
    <div class="img-up">
      <div class="container">
        <div class="row g-4 align-items-center justify-content-center">
          <div class="col-lg-10">
            <div class="inner-content center">
              <h1>Find your perfect domain name</h1>
              <p>
                Just type your desired name into the search below and we'll let
                you know if it's available.
              </p>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-12 col-lg-9">
            <form class="homepage-domain-form">
              <input
                type="text"
                placeholder="Type the domain you want"
                required=""
              />
              <button class="btns one submit">Search</button>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="swiper swiper-tld">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="domain-tlds">
                    <span><img src="/images/xyz.png" alt="icon" /></span>
                    <h4>৳12.23</h4>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="domain-tlds">
                    <span><img src="/images/name.png" alt="icon" /></span>
                    <h4>৳12.23</h4>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="domain-tlds">
                    <span><img src="/images/mobi.png" alt="icon" /></span>
                    <h4>৳12.23</h4>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="domain-tlds">
                    <span><img src="/images/biz.png" alt="icon" /></span>
                    <h4>৳12.23</h4>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="domain-tlds">
                    <span><img src="/images/com.png" alt="icon" /></span>
                    <h4>৳12.23</h4>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="domain-tlds">
                    <span><img src="/images/eu.png" alt="icon" /></span>
                    <h4>৳12.23</h4>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="domain-tlds">
                    <span><img src="/images/info.png" alt="icon" /></span>
                    <h4>৳12.23</h4>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="domain-tlds">
                    <span><img src="/images/net.png" alt="icon" /></span>
                    <h4>৳12.23</h4>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="domain-tlds">
                    <span><img src="/images/org.png" alt="icon" /></span>
                    <h4>৳12.23</h4>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="domain-tlds">
                    <span><img src="/images/xyz.png" alt="icon" /></span>
                    <h4>৳12.23</h4>
                  </div>
                </div>
              </div>
              <div class="icons">
                <a class="swiper-tld-left"
                  ><i class="ri-arrow-left-s-line"></i>
                </a>
                <a class="swiper-tld-right"
                  ><i class="ri-arrow-right-s-line"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="section-gap">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-header gap-bottom center">
            <h2>How to register a good domain name?</h2>
            <p>
              Choose a unique domain, check availability, and register easily
              with Odeaweb in three simple steps!
            </p>
          </div>
        </div>
      </div>
      <div class="row gy-4">
        <div class="col-lg-4">
          <div class="service-two text-center">
            <div class="icon"><img src="/images/www.png" alt="" /></div>
            <div class="content">
              <h4>Choose a domain name</h4>
              <p>Select a generic domain name suitable for your project.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="service-two text-center">
            <div class="icon"><img src="/images/web.png" alt="" /></div>
            <div class="content">
              <h4>Check domain availability</h4>
              <p>
                Perform a search and verify if it is available for registration.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="service-two text-center">
            <div class="icon"><img src="/images/verify.png" alt="" /></div>
            <div class="content">
              <h4>Register your domain Name</h4>
              <p>
                Choose, check availability, add to cart, and register instantly!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-gap bg1">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-header gap-bottom center">
            <h2>Discover the advantageous features of our domain service!</h2>
            <p>
              Explore the powerful and beneficial features of our domain service
              for seamless and secure management.
            </p>
          </div>
        </div>
      </div>
      <div class="row g-lg-5 gy-4">
        <div class="col-lg-4 col-md-6 col-12">
          <div class="service-three text-center">
            <div class="content">
              <h4><i class="bi bi-cpu"></i> &nbsp;Free DNS Management</h4>
              <p>
                Free DNS Management allows users to configure, update, and
                control domain settings easily and securely.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12">
          <div class="service-three text-center">
            <div class="content">
              <h4>
                <i class="bi bi-database"></i> &nbsp;Most Affordable Service
              </h4>
              <p>
                Free DNS Management allows users to configure, update, and
                control domain settings easily and securely.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12">
          <div class="service-three text-center">
            <div class="content">
              <h4>
                <i class="bi bi-shield-check"></i> &nbsp;Free Whois Protection
              </h4>
              <p>
                Free DNS Management allows users to configure, update, and
                control domain settings easily and securely.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12">
          <div class="service-three text-center">
            <div class="content">
              <h4><i class="bi bi-send"></i> &nbsp;Free Internal Transfer</h4>
              <p>
                Free DNS Management allows users to configure, update, and
                control domain settings easily and securely.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12">
          <div class="service-three text-center">
            <div class="content">
              <h4><i class="bi bi-headset"></i> &nbsp;24/7 Support</h4>
              <p>
                Free DNS Management allows users to configure, update, and
                control domain settings easily and securely.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12">
          <div class="service-three text-center">
            <div class="content">
              <h4>
                <i class="bi bi-bookmark-check"></i> &nbsp;Instant Activation
              </h4>
              <p>
                Free DNS Management allows users to configure, update, and
                control domain settings easily and securely.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-gap">
    <div class="container">
      <div class="row g-4 align-items-center">
        <div class="col-lg-6">
          <div class="section-header">
            <h2>Transfer your domain name!</h2>
            <p>
              Transfer your domain name to Odeaweb today and enjoy exclusive
              discounts all year round. Manage your domain effortlessly with our
              user-friendly control panel. Secure, fast, and hassle-free domain
              transfers ensure a seamless experience. Don't miss out—transfer
              now!
            </p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="text-center text-lg-end">
            <img
              src="/images/domain_img.png"
              alt="Reseller Hosting"
              width="400"
            />
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-gap">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10">
          <div class="section-header gap-bottom center">
            <h2>Frequently Asked Questions</h2>
            <p>
              Get the answers to frequently asked questions about our premium
              hosting service.
            </p>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
          <ul class="accordion">
            <li class="active">
              <h5>What is domain registration?</h5>
              <p style="display: block;">
                Domain registration is the process of renting an internet
                address for a website for a period of 1 to 10 years. It is the
                first step in launching a website and can be considered similar
                to a trademark registration.
              </p>
            </li>
            <li>
              <h5>How long does delivery take?</h5>
              <p>
                Once a domain order is placed, our system automatically
                processes the registration instantly. This ensures that your
                domain is registered immediately, and all necessary information
                is quickly sent to your specified email address.
              </p>
            </li>
            <li>
              <h5>How to update Name Servers (NS)?</h5>
              <p>
                Yes, updating your name servers is a quick and simple process.
                You can update your name servers instantly through our system
                and even create custom name servers for better domain
                management.
              </p>
            </li>
            <li>
              <h5>What is domain transfer?</h5>
              <p>
                Domain transfer is the process of moving a domain from one
                provider to another. Once the transfer is complete, it is the
                user's responsibility to update necessary settings via the new
                provider.
              </p>
            </li>
            <li>
              <h5>Is there a fee for internal domain transfers?</h5>
              <p>
                No, internal domain transfers within Odeaweb are completely
                free. This service is designed to facilitate easy domain
                transfers for users.
              </p>
            </li>
            <li>
              <h5>Can I order multiple domains at once?</h5>
              <p>
                Yes, customers can order multiple domains simultaneously. By
                adding multiple domains to the cart and making a single payment,
                users can manage several domains efficiently.
              </p>
            </li>
            <li>
              <h5>How to renew a domain?</h5>
              <p>
                You can renew your domain by logging into your Odeaweb customer
                account and following the steps: "My Domains > Manage > Renew."
                This allows you to keep your domain active effortlessly.
              </p>
            </li>
            <li>
              <h5>Which .tr domain extensions do not require documents?</h5>
              <p>
                You can purchase the following .tr domain extensions without any
                documents. However, org.tr and av.tr extensions require
                documentation.
              </p>
            </li>
            <li>
              <h5>What is domain transfer?</h5>
              <p>
                Domain transfer refers to moving a domain registration from one
                provider to another or transferring it between customers within
                the same provider.
              </p>
            </li>
            <li>
              <h5>How to perform an internal domain transfer?</h5>
              <p>
                To perform an internal transfer, log in to your customer panel
                and go to the "Support System." Submit a support request with
                the target Odeaweb customer email and the domain name you wish
                to transfer.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</Layout>
