---
import Layout from '../layouts/Layout.astro';
---

<Layout
  title="Elite Host – Premium Web Hosting Services for Your Business"
  description="Elite Host offers top-tier, reliable, and fast web hosting services tailored to meet the unique needs of businesses. Our hosting solutions are designed for performance, security, and scalability, ensuring your website runs smoothly 24/7."
  keywords="Elite Host, premium web hosting, business web hosting, reliable hosting, fast web hosting, secure web hosting, scalable hosting solutions, high-performance hosting, hosting services for businesses, 24/7 website hosting"
  author="RedCheap"
  ogTitle="Elite Host – Premium Web Hosting Services for Your Business"
  ogDescription="Elite Host offers top-tier, reliable, and fast web hosting services tailored to meet the unique needs of businesses. Our hosting solutions are designed for performance, security, and scalability, ensuring your website runs smoothly 24/7."
  ogImage="URL_to_image"
  ogUrl="Your Website URL"
  twitterTitle="Elite Host – Premium Web Hosting Services for Your Business"
  twitterDescription="Elite Host offers top-tier, reliable, and fast web hosting services tailored to meet the unique needs of businesses. Our hosting solutions are designed for performance, security, and scalability, ensuring your website runs smoothly 24/7."
  twitterImage="URL_to_image"
>
  <div class="main-banner homepage-domain-search">
  <div class="img-up">
    <div class="container">
      <div class="row g-4 align-items-center justify-content-center">
        <div class="col-lg-8 col-md-10">
          <div class="inner-content center">
            <h1>FREE Add-ons with every Domain Name!</h1>
            <p>Get over $100 worth of Free Services with every Domain you Register</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="section-gap">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-header gap-bottom center">
          <h2>FREE Add-ons with every Domain Name!</h2>
        </div>
      </div>
    </div>
    <div class="row g-lg-5 gy-4">
      <div class="col-lg-4 col-md-6 col-12">
        <div class="service-one">
          <div class="icon"> <img src="/images/comment.png" alt="image"> </div>
          <div class="content">
            <h4>Free Email Account</h4>
            <p>Receive 2 personalized Email Addresses such as mail@ yourdomain.com with free fraud, spam and virus protection. </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="service-one">
          <div class="icon"> <img src="/images/launch.png" alt="image"> </div>
          <div class="content">
            <h4>Domain Forwarding</h4>
            <p>Point your domain name to another website for free! Redirect users when they type your domain name into a browser (with/without domain masking & SEO)</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="service-one">
          <div class="icon"> <img src="/images/resource.png" alt="image"> </div>
          <div class="content">
            <h4>DNS Management</h4>
            <p>Free lifetime DNS service which allows you to manage your DNS records on our globally distributed and highly redundant DNS infrastructure.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="service-one">
          <div class="icon"> <img src="/images/data-encryption.png" alt="image"> </div>
          <div class="content">
            <h4>Domain Theft Protection</h4>
            <p>Protect your Domain from being transferred out accidentally or without your permission with our free Domain Theft Protection.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="service-one">
          <div class="icon"> <img src="/images/information-channels.png" alt="image"> </div>
          <div class="content">
            <h4>Free Mail Forwards</h4>
            <p>Create free email forwards and automatically redirect your email to existing email accounts. </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="service-one">
          <div class="icon"> <img src="/images/encouragement.png" alt="image"> </div>
          <div class="content">
            <h4>Easy to use Control Panel</h4>
            <p>Use our intuitive Control Panel to manage your domain name, configure email accounts, renew your domain name and buy more services.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</Layout>
