---
import Layout from '../layouts/Layout.astro';
---

<Layout
  title="Elite Host – Premium Web Hosting Services for Your Business"
  description="Elite Host offers top-tier, reliable, and fast web hosting services tailored to meet the unique needs of businesses. Our hosting solutions are designed for performance, security, and scalability, ensuring your website runs smoothly 24/7."
  keywords="Elite Host, premium web hosting, business web hosting, reliable hosting, fast web hosting, secure web hosting, scalable hosting solutions, high-performance hosting, hosting services for businesses, 24/7 website hosting"
  author="RedCheap"
  ogTitle="Elite Host – Premium Web Hosting Services for Your Business"
  ogDescription="Elite Host offers top-tier, reliable, and fast web hosting services tailored to meet the unique needs of businesses. Our hosting solutions are designed for performance, security, and scalability, ensuring your website runs smoothly 24/7."
  ogImage="URL_to_image"
  ogUrl="Your Website URL"
  twitterTitle="Elite Host – Premium Web Hosting Services for Your Business"
  twitterDescription="Elite Host offers top-tier, reliable, and fast web hosting services tailored to meet the unique needs of businesses. Our hosting solutions are designed for performance, security, and scalability, ensuring your website runs smoothly 24/7."
  twitterImage="URL_to_image"
>
  <!-- =====================
 Banner
===================== -->
<div class="main-banner page-banner">
  <div class="img-up">
    <div class="container">
      <div class="row g-4 align-items-center">
        <div class="col-lg-6">
          <div class="inner-content"> <span class="top-heading">Reseller</span>
            <h1>Reseller Hosting</h1>
            <h3>Start Your Own Web Hosting Business</h3>
            <ul class="banner-list icon">
              <li><i class="bi bi-speedometer2"></i>Reliable hosting services</li>
              <li><i class="bi bi-person-check"></i>Multi-Account</li>
              <li><i class="bi bi-gear"></i>Scalable</li>
              <li><i class="bi bi-headset"></i>24/7 Expert Support</li>
            </ul>
            <h4 class="mt-3"> <span>Starts at just</span> <sup>₹</sup> <strong>503.99</strong> <small>/mo</small> </h4>
            <div class="inline-btns mt-3"> <a class="btns one" href="">Get Started Now<i class="far fa-arrow-right"></i></a> </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="text-center text-lg-end"> <img src="/images/reseller-banner.png" alt="Reseller Hosting"> </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- =======================
Plan Section
======================= -->

<section class="section-gap">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-header center gap-bottom">
          <h2>Choose Your Plan</h2>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="swiper swiper-plans">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="plans-design-one"> <img src="/images/database.png" alt="icon" class="icon">
                <h3>Reseller Hosting-1</h3>
                <p>Lorem ipsum dolor sit amet.</p>
                <h6><del>$25.25</del> / Month</h6>
                <h4> <sup>$</sup> 16.20 <small>/year</small> <span class="badge-plan">Offer</span> </h4>
                <a class="btns three" href="">Select Plan</a>
                <ul>
                  <li><i class="ri-hard-drive-2-line"></i> 2 GB Disk Space</li>
                  <li><i class="fal fa-tachometer-alt-slow"></i> Unlimited Bandwidth </li>
                  <li><i class="fal fa-browser"></i> cPanel Control Panel </li>
                  <li><i class="fal fa-server"></i> 6GB Memory</li>
                  <li><i class="fal fa-database"></i> 10 Hosted Domains</li>
                  <li><i class="fal fa-globe"></i>LiteSpeed Web Server </li>
                  <li><i class="fal fa-lock"></i> Free SSL Certificate</li>
                </ul>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="plans-design-one"> <img src="/images/server.png" alt="icon" class="icon">
                <h3>Reseller Hosting-2</h3>
                <p>Lorem ipsum dolor sit amet.</p>
                <h6><del>$25.25</del> / Month</h6>
                <h4> <sup>$</sup> 16.20 <small>/year</small> <span class="badge-plan">Offer</span> </h4>
                <a class="btns three" href="">Select Plan</a>
                <ul>
                  <li><i class="ri-hard-drive-2-line"></i> 2 GB Disk Space</li>
                  <li><i class="fal fa-tachometer-alt-slow"></i> Unlimited Bandwidth </li>
                  <li><i class="fal fa-browser"></i> cPanel Control Panel </li>
                  <li><i class="fal fa-server"></i> 6GB Memory</li>
                  <li><i class="fal fa-database"></i> 10 Hosted Domains</li>
                  <li><i class="fal fa-globe"></i>LiteSpeed Web Server </li>
                  <li><i class="fal fa-lock"></i> Free SSL Certificate</li>
                </ul>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="plans-design-one"> <img src="/images/servers.png" alt="icon" class="icon">
                <h3>Reseller Hosting-3</h3>
                <p>Lorem ipsum dolor sit amet.</p>
                <h6><del>$25.25</del> / Month</h6>
                <h4> <sup>$</sup> 16.20 <small>/year</small> <span class="badge-plan">Offer</span> </h4>
                <a class="btns three" href="">Select Plan</a>
                <ul>
                  <li><i class="ri-hard-drive-2-line"></i> 2 GB Disk Space</li>
                  <li><i class="fal fa-tachometer-alt-slow"></i> Unlimited Bandwidth </li>
                  <li><i class="fal fa-browser"></i> cPanel Control Panel </li>
                  <li><i class="fal fa-server"></i> 6GB Memory</li>
                  <li><i class="fal fa-database"></i> 10 Hosted Domains</li>
                  <li><i class="fal fa-globe"></i>LiteSpeed Web Server </li>
                  <li><i class="fal fa-lock"></i> Free SSL Certificate</li>
                </ul>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="plans-design-one"> <img src="/images/database2.png" alt="icon" class="icon">
                <h3>Reseller Hosting-4</h3>
                <p>Lorem ipsum dolor sit amet.</p>
                <h6><del>$25.25</del> / Month</h6>
                <h4> <sup>$</sup> 16.20 <small>/year</small> <span class="badge-plan">Offer</span> </h4>
                <a class="btns three" href="">Select Plan</a>
                <ul>
                  <li><i class="ri-hard-drive-2-line"></i> 2 GB Disk Space</li>
                  <li><i class="fal fa-tachometer-alt-slow"></i> Unlimited Bandwidth </li>
                  <li><i class="fal fa-browser"></i> cPanel Control Panel </li>
                  <li><i class="fal fa-server"></i> 6GB Memory</li>
                  <li><i class="fal fa-database"></i> 10 Hosted Domains</li>
                  <li><i class="fal fa-globe"></i>LiteSpeed Web Server </li>
                  <li><i class="fal fa-lock"></i> Free SSL Certificate</li>
                </ul>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="plans-design-one"> <img src="/images/cloud.png" alt="icon" class="icon">
                <h3>Reseller Hosting-5</h3>
                <p>Lorem ipsum dolor sit amet.</p>
                <h6><del>$25.25</del> / Month</h6>
                <h4> <sup>$</sup> 16.20 <small>/year</small> <span class="badge-plan">Offer</span> </h4>
                <a class="btns three" href="">Select Plan</a>
                <ul>
                  <li><i class="ri-hard-drive-2-line"></i> 2 GB Disk Space</li>
                  <li><i class="fal fa-tachometer-alt-slow"></i> Unlimited Bandwidth </li>
                  <li><i class="fal fa-browser"></i> cPanel Control Panel </li>
                  <li><i class="fal fa-server"></i> 6GB Memory</li>
                  <li><i class="fal fa-database"></i> 10 Hosted Domains</li>
                  <li><i class="fal fa-globe"></i>LiteSpeed Web Server </li>
                  <li><i class="fal fa-lock"></i> Free SSL Certificate</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-gap bg1">
  <div class="container">
    <div class="row g-4 align-items-center">
      <div class="col-lg-6">
        <div class="section-header">
          <h2>Free SSL Certificate</h2>
          <p>A Free SSL Certificate encrypts data, ensuring secure communication between websites and users. It boosts trust, improves SEO rankings, and protects sensitive information. Ideal for businesses and individuals, it provides authentication and security without additional costs, enhancing website credibility and safety.</p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="text-center text-lg-end"> <img src="/images/ssl-and-https.png" alt="Reseller Hosting" width="500"> </div>
      </div>
    </div>
  </div>
</section>
<section class="section-gap">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-header gap-bottom center">
          <h2>Reseller Hosting Offers Us</h2>
          <p>Every hosting plan comes with these premium features, plus many more.</p>
        </div>
      </div>
    </div>
    <div class="row g-lg-5 gy-4">
      <div class="col-lg-4 col-md-6 col-12">
        <div class="service-two">
          <div class="icon"> <img src="/images/data-integrity.png" alt="image"> </div>
          <div class="content">
            <h4>Powerful Hosting Control Panel - WHM</h4>
            <ul class="list-check">
              <li>Complete Administrative Control</li>
              <li>Monitor Server Status around the clock</li>
              <li>Create Hosting Packages - Limit Disk Space, Bandwidth, Email, Databases etc.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="service-two">
          <div class="icon"> <img src="/images/encouragement.png" alt="image"> </div>
          <div class="content">
            <h4>All in one Billing & Client Management Solution - WHMCS</h4>
            <ul class="list-check">
              <li>Complete Administrative Control</li>
              <li>Monitor Server Status around the clock</li>
              <li>Create Hosting Packages - Limit Disk Space, Bandwidth, Email, Databases etc.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="service-two">
          <div class="icon"> <img src="/images/data-processing.png" alt="image"> </div>
          <div class="content">
            <h4>Easy to Use Customer Control Panel - cPanel</h4>
            <ul class="list-check">
              <li>Complete Administrative Control</li>
              <li>Monitor Server Status around the clock</li>
              <li>Create Hosting Packages - Limit Disk Space, Bandwidth, Email, Databases etc.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="service-two">
          <div class="icon"> <img src="/images/device.png" alt="image"> </div>
          <div class="content">
            <h4>Robust Infrastructure</h4>
            <ul class="list-check">
              <li>State-of-the-art Datacenters</li>
              <li>Dual Quad-Core Xeon powered Servers</li>
              <li>Redundant Scalable Servers</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="service-two">
          <div class="icon"> <img src="/images/information-channels.png" alt="image"> </div>
          <div class="content">
            <h4>Advanced Email Hosting Included</h4>
            <ul class="list-check">
              <li>Unlimited POP3 Email Accounts with SMTP</li>
              <li>IMAP Support</li>
              <li>Easy to use Webmail Interface</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="service-two">
          <div class="icon"> <img src="/images/resource.png" alt="image"> </div>
          <div class="content">
            <h4>Hosting Features & Addons</h4>
            <ul class="list-check">
              <li>Unlimited Add-On Domains</li>
              <li>Unlimited Sub-Domains</li>
              <li>Unlimited Databases</li>
              <li>Parked Domains</li>
              <li>Unlimited FTP Accounts</li>
              <li>Private SSL Available</li>
              <li>Add-on Dedicated IP</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-gap ">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10 bg1 support">
        <div class="row g-4 align-items-center justify-content-between">
          <div class="col-lg-7">
            <div class="section-header">
              <h2>Our Solution Support Center</h2>
              <p>Our Solution Support Center provides expert assistance, troubleshooting, and guidance for seamless technical support.</p>
              <div class="mt-3">
                <ul>
                  <li class="text-center"> <span class="icon"><img src="/images/talk.webp" alt=""></span>
                    <label class="content">0212 909 9656</label>
                  </li>
                  <li class="text-center"> <span class="icon"><img src="/images/support2.webp" alt=""></span>
                    <label class="content">24*7 Support</label>
                  </li>
                  <li class="text-center"> <span class="icon"><img src="/images/customer.webp" alt=""></span>
                    <label class="content">Talk to customer</label>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="text-center text-lg-end"> <img src="/images/support-center.png" alt="Reseller Hosting"> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-gap">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="section-header gap-bottom center">
          <h2>Frequently Asked Questions</h2>
          <p>Get the answers to frequently asked questions about our premium hosting service.</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10">
        <ul class="accordion">
          <li>
            <h5> What is reseller hosting? </h5>
            <p> Reseller Hosting allows you to create sub-packages within the allotted Disk Space and Bandwidth of your main Hosting package. You can use WHM to create Individual Custom packages (each with cPanel) and provision them to your Customers. Additionally, you can use WHMCS for billing (Not supported on the base plan). </p>
          </li>
          <li>
            <h5> Which Control Panels do I get with a Reseller Hosting package? </h5>
            <p>All Reseller Hosting packages come with 2 separate Control Panels - WHM and cPanel. WHM gives you administrative control of your Reseller Hosting package and cPanel allows your Customers to manage their individual Hosting packages. </p>
          </li>
          <li>
            <h5>How can I create Sub-Packages and manage them? </h5>
            <p>Your WHM Control Panel allows you to create individual Hosting packages and completely manage them. </p>
          </li>
          <li>
            <h5> Does Linux Reseller Hosting come with any client billing solution? </h5>
            <p> WHMCS can be purchased as an addon with our Reseller hosting, it's an all-in-one client management, support, and billing solution for online web hosting businesses. You can manage your clients successfully with the robust automation and support that WHMCS offers. </p>
          </li>
          <li>
            <h5>How can my Customers manage their Individual Packages?</h5>
            <p>Your Customers will be able to manage their own packages using cPanel. </p>
          </li>
          <li>
            <h5> What are the advantages of reseller hosting?</h5>
            <p> If you're a Web Designer/Developer you can host and manage all your websites/clients with one Reseller Hosting package instead of going through the hassle of managing multiple shared Hosting packages. This also lowers your Web Hosting costs significantly.
              Additionally, you can resell hosting as a value added feature to your existing business or as a separate entity. </p>
          </li>
          <li>
            <h5>Can I upgrade between plans? </h5>
            <p> Yes, you can upgrade your existing plan to a higher plan at any time. </p>
          </li>
          <li>
            <h5> Do your Reseller Hosting plans include a One-Click Installer? </h5>
            <p> Yes, all our Reseller Hosting plans come integrated with Softaculous - a popular and easy to use One-Click Installer. </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
</Layout>
