---
import Layout from '../layouts/Layout.astro';
---

<Layout
  title="Elite Host – Premium Web Hosting Services for Your Business"
  description="Elite Host offers top-tier, reliable, and fast web hosting services tailored to meet the unique needs of businesses. Our hosting solutions are designed for performance, security, and scalability, ensuring your website runs smoothly 24/7."
  keywords="Elite Host, premium web hosting, business web hosting, reliable hosting, fast web hosting, secure web hosting, scalable hosting solutions, high-performance hosting, hosting services for businesses, 24/7 website hosting"
  author="RedCheap"
  ogTitle="Elite Host – Premium Web Hosting Services for Your Business"
  ogDescription="Elite Host offers top-tier, reliable, and fast web hosting services tailored to meet the unique needs of businesses. Our hosting solutions are designed for performance, security, and scalability, ensuring your website runs smoothly 24/7."
  ogImage="URL_to_image"
  ogUrl="Your Website URL"
  twitterTitle="Elite Host – Premium Web Hosting Services for Your Business"
  twitterDescription="Elite Host offers top-tier, reliable, and fast web hosting services tailored to meet the unique needs of businesses. Our hosting solutions are designed for performance, security, and scalability, ensuring your website runs smoothly 24/7."
  twitterImage="URL_to_image"
>
  <!-- =====================
 Banner
===================== -->
<div class="main-banner page-banner">
  <div class="img-up">
    <div class="container">
      <div class="row g-4 align-items-center">
        <div class="col-lg-6">
          <div class="inner-content"> <span class="top-heading">VPS</span>
            <h1>Power for every need VPS</h1>
            <h3>Premium web hosting with dedicated resources like a VPS</h3>
            <ul class="banner-list icon">
              <li><i class="bi bi-hand-thumbs-up me-2"></i>Robust performance</li>
              <li><i class="bi bi-database me-2"></i>Enjoy dedicated resources</li>
              <li><i class="bi bi-code-square me-2"></i>expert management</li>
              <li><i class="bi bi-command me-2"></i>Managed VPS Hosting</li>
            </ul>
            <h4 class="mt-3"> <span>Starts at just</span> <sup>৳</sup> <strong>503.99</strong> <small>/mo</small> </h4>
            <div class="inline-btns mt-3"> <a class="btns one" href="#plans">Get Started Now<i class="far fa-arrow-right"></i></a> </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="text-center text-lg-end"> <img src="/images/vps-banner.png" alt="Web Hosting"> </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- =======================
Plan Section
======================= -->

<section id="plans" class="section-gap">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-header center gap-bottom">
          <h2>Choose Your Plan</h2>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing.</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="vps-plan-design">
          <div class="row">
            <div class="col-lg-12">
              <div class="price-slides">
                <div class="bar">
                  <div class="bar-in"></div>
                </div>
              </div>
              <div class="plan-names">
                <div>
                  <h4>VPS Plan 1</h4>
                </div>
                <div>
                  <h4>VPS Plan 2</h4>
                </div>
                <div>
                  <h4>VPS Plan 3</h4>
                </div>
                <div>
                  <h4>VPS Plan 4</h4>
                </div>
                <div>
                  <h4>VPS Plan 5</h4>
                </div>
              </div>
              <div class="vps-plan-tab">
                <div class="inner">
                  <ul>
                    <li>
                      <figure><i class="bi bi-cpu"></i></figure>
                      <span class="mb-0 text-size-14">CPU Cores:</span>
                      <h4>2 Cores</h4>
                    </li>
                    <li>
                      <figure><i class="bi bi-hdd"></i></figure>
                      <span class="mb-0 text-size-14">Memory:</span>
                      <h4>2048 MB</h4>
                    </li>
                    <li>
                      <figure><i class="bi bi-nvme"></i></figure>
                      <span class="mb-0 text-size-14">Storage:</span>
                      <h4>30 GB</h4>
                    </li>
                    <li>
                      <figure><i class="bi bi-command"></i></figure>
                      <span class="mb-0 text-size-14">Bandwidth:</span>
                      <h4>2 TB</h4>
                    </li>
                  </ul>
                  <div class="vps-plan-price-section">
                    <div class="price-value"> <span class="price-amount"> ৳59.00 <sub>/mo</sub> <span class="badge-plan">Offer</span> </span> </div>
                    <div><a class="btns one" href="">Order Now</a></div>
                  </div>
                </div>
                <div class="inner">
                  <ul>
                    <li>
                      <figure><i class="bi bi-cpu"></i></figure>
                      <span class="mb-0 text-size-14">CPU Cores:</span>
                      <h4>4 Cores</h4>
                    </li>
                    <li>
                      <figure><i class="bi bi-hdd"></i></figure>
                      <span class="mb-0 text-size-14">Memory:</span>
                      <h4>4096 MB</h4>
                    </li>
                    <li>
                      <figure><i class="bi bi-nvme"></i></figure>
                      <span class="mb-0 text-size-14">Storage:</span>
                      <h4>40 GB</h4>
                    </li>
                    <li>
                      <figure><i class="bi bi-command"></i></figure>
                      <span class="mb-0 text-size-14">Bandwidth:</span>
                      <h4>4 TB</h4>
                    </li>
                  </ul>
                  <div class="vps-plan-price-section">
                    <div class="price-value"> <span class="price-amount"> ৳64.00 <sub>/mo</sub> <span class="badge-plan">Offer</span> </span> </div>
                    <div><a class="btns one" href="">Order Now</a></div>
                  </div>
                </div>
                <div class="inner">
                  <ul>
                    <li>
                      <figure><i class="bi bi-cpu"></i></figure>
                      <span class="mb-0 text-size-14">CPU Cores:</span>
                      <h4>8 Cores</h4>
                    </li>
                    <li>
                      <figure><i class="bi bi-hdd"></i></figure>
                      <span class="mb-0 text-size-14">Memory:</span>
                      <h4>1 TB</h4>
                    </li>
                    <li>
                      <figure><i class="bi bi-nvme"></i></figure>
                      <span class="mb-0 text-size-14">Storage:</span>
                      <h4>50 GB</h4>
                    </li>
                    <li>
                      <figure><i class="bi bi-command"></i></figure>
                      <span class="mb-0 text-size-14">Bandwidth:</span>
                      <h4>6 TB</h4>
                    </li>
                  </ul>
                  <div class="vps-plan-price-section">
                    <div class="price-value"> <span class="price-amount"> ৳76.00 <sub>/mo</sub> <span class="badge-plan">Offer</span> </span> </div>
                    <div><a class="btns one" href="">Order Now</a></div>
                  </div>
                </div>
                <div class="inner">
                  <ul>
                    <li>
                      <figure><i class="bi bi-cpu"></i></figure>
                      <span class="mb-0 text-size-14">CPU Cores:</span>
                      <h4>12 Cores</h4>
                    </li>
                    <li>
                      <figure><i class="bi bi-hdd"></i></figure>
                      <span class="mb-0 text-size-14">Memory:</span>
                      <h4>2 TB</h4>
                    </li>
                    <li>
                      <figure><i class="bi bi-nvme"></i></figure>
                      <span class="mb-0 text-size-14">Storage:</span>
                      <h4>60 GB</h4>
                    </li>
                    <li>
                      <figure><i class="bi bi-command"></i></figure>
                      <span class="mb-0 text-size-14">Bandwidth:</span>
                      <h4>8 TB</h4>
                    </li>
                  </ul>
                  <div class="vps-plan-price-section">
                    <div class="price-value"> <span class="price-amount"> ৳81.00 <sub>/mo</sub> <span class="badge-plan">Offer</span> </span> </div>
                    <div><a class="btns one" href="">Order Now</a></div>
                  </div>
                </div>
                <div class="inner">
                  <ul>
                    <li>
                      <figure><i class="bi bi-cpu"></i></figure>
                      <span class="mb-0 text-size-14">CPU Cores:</span>
                      <h4>16 Cores</h4>
                    </li>
                    <li>
                      <figure><i class="bi bi-hdd"></i></figure>
                      <span class="mb-0 text-size-14">Memory:</span>
                      <h4>4 TB</h4>
                    </li>
                    <li>
                      <figure><i class="bi bi-nvme"></i></figure>
                      <span class="mb-0 text-size-14">Storage:</span>
                      <h4>80 GB</h4>
                    </li>
                    <li>
                      <figure><i class="bi bi-command"></i></figure>
                      <span class="mb-0 text-size-14">Bandwidth:</span>
                      <h4>10 TB</h4>
                    </li>
                  </ul>
                  <div class="vps-plan-price-section">
                    <div class="price-value"> <span class="price-amount"> ৳89.00 <sub>/mo</sub> <span class="badge-plan">Offer</span> </span> </div>
                    <div><a class="btns one" href="">Order Now</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-10">
        <div class="vps-plan-bottom bg1">
          <h4>Need a little boost? You can add additional RAM, CPUs, Storage Space or Dedicated IPs, as you’re checking out.</h4>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-gap bg1">
  <div class="container">
    <div class="row g-4 align-items-center">
      <div class="col-xl-6 col-lg-6 col-md-6 col-12">
        <div class="section-header">
          <h2>Quick Responce and Secure Server</h2>
          <p>You can combine all the EraHostv2 templates into a single one, you can take a component from the Application theme and use it in the Website. </p>
          <ul class="list-check">
            <li>Receive professional WordPress support</li>
            <li>Our specialists are available round</li>
            <li>Encrypt, Authenticate, Authorize, Validate</li>
            <li>SSL/TLS Encryption, Firewalls, Regular Updates</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="text-center text-lg-end"> <img src="/images/vps-server.jpg" alt="Reseller Hosting" width="500"> </div>
      </div>
    </div>
  </div>
</section>
<section class="section-gap">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-header gap-bottom center">
          <h2>Why Choose Us ?</h2>
          <p>Every hosting plan comes with these premium features, plus many more.</p>
        </div>
      </div>
    </div>
    <div class="row g-lg-5 gy-4">
      <div class="col-lg-3 col-md-6 col-12">
        <div class="service-two">
          <div class="icon"> <img src="/images/gdpr.png" alt="image"> </div>
          <div class="content">
            <h4>Web Hosting</h4>
            <p>Store website files, databases, provide bandwidth, domain accessibility, technical support</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <div class="service-two">
          <div class="icon"> <img src="/images/launch2.png" alt="image"> </div>
          <div class="content">
            <h4>Fast & Reliable</h4>
            <p>Fast, Reliable, Secure, Scalable, Efficient, Optimized, Powerful, Trusted, Seamless, Performance**</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <div class="service-two">
          <div class="icon"> <img src="/images/encouragement.png" alt="image"> </div>
          <div class="content">
            <h4>Super Easy to Use </h4>
            <p>User-Friendly, Simple, Intuitive, Hassle-Free, Effortless, Quick, Smooth, Convenient, Accessible, Beginner-Friendly**</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <div class="service-two">
          <div class="icon"> <img src="/images/information-point.png" alt="image"> </div>
          <div class="content">
            <h4>24/7 Expert Support </h4>
            <p>Reliable, Instant, Professional, Dedicated, Responsive, Helpful, Friendly, Trusted, Available, Efficient**</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-gap tab-section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-header gap-bottom center">
          <h2>Advantage Of Reseller Hosting</h2>
          <p>Every hosting plan comes with these premium features, plus many more.</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-8 tab-buttons">
        <button class="tab-btn active" data-tab="tab1">Deploy</button>
        <button class="tab-btn" data-tab="tab2">Additional Storage</button>
        <button class="tab-btn" data-tab="tab3">Manage</button>
        <button class="tab-btn" data-tab="tab4">Secure</button>
      </div>
    </div>
    <div class="bg2 mt-4 tab-content-section">
      <div class="row">
        <div class="col-12 tab-content">
          <div id="tab1" class="tab-pane active">
            <div class="row g-4 align-items-center">
              <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                <div class="section-header">
                  <h2>Seamless VPS Deployment with Speed, Security & Full Control</h2>
                  <p>Effortless VPS deployment with high speed, robust security, full control, reliability, scalability, and 24/7 support.</p>
                  <ul class="banner-list icon mt-3">
                    <li><i class="bi bi-hand-thumbs-up me-2"></i>Instant Provisioning</li>
                    <li><i class="bi bi-database me-2"></i>Enjoy dedicated resources</li>
                    <li><i class="bi bi-code-square me-2"></i>expert management</li>
                    <li><i class="bi bi-command me-2"></i>Managed VPS Hosting</li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="text-center text-lg-end"> <img src="/images/vps-img.jpg" alt="Reseller Hosting" width="500"> </div>
              </div>
            </div>
          </div>
          <div id="tab2" class="tab-pane">
            <div class="row g-4 align-items-center flex-lg-row-reverse">
              <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                <div class="section-header">
                  <h2>High-performance Storage Volumes for your VPS At ৳ 21.78/GB/month</h2>
                  <p>Effortless VPS deployment with high speed, robust security, full control, reliability, scalability, and 24/7 support.</p>
                  <ul class="list-check">
                    <li>Receive professional WordPress support</li>
                    <li>Our specialists are available round</li>
                    <li>Encrypt, Authenticate, Authorize, Validate</li>
                    <li>SSL/TLS Encryption, Firewalls, Regular Updates</li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="text-center text-lg-start"> <img src="/images/storage.jpg" alt="Reseller Hosting" width="500"> </div>
              </div>
            </div>
          </div>
          <div id="tab3" class="tab-pane">
            <div class="row g-4 align-items-center">
              <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                <div class="section-header">
                  <h2>Effortlessly Manage Your VPS with Control, Security & Performance</h2>
                  <p>Easily manage your VPS with full control, enhanced security, high performance, scalability, reliability, and support.</p>
                  <ul class="banner-list icon mt-3">
                    <li><i class="bi bi-database-gear me-2"></i>Server Management</li>
                    <li><i class="bi bi-rocket-takeoff-fill me-2"></i>Full Root Access</li>
                    <li><i class="bi bi-wordpress me-2"></i>VNC Access</li>
                    <li><i class="bi bi-menu-button-wide-fill me-2"></i>WHMCS</li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="text-center text-lg-end"> <img src="/images/manage-vps.jpg" alt="Reseller Hosting" width="500"> </div>
              </div>
            </div>
          </div>
          <div id="tab4" class="tab-pane">
            <div class="row g-4 align-items-center flex-lg-row-reverse">
              <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                <div class="row">
                  <div class="col-12">
                    <div class="service-one">
                      <div class="icon"> <img src="/images/data-encryption.png" alt="image"> </div>
                      <div class="content">
                        <h4>DDOS Protection</h4>
                        <p>Our advanced DDOS protection ensures that your VPS is protected against any attacks.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="service-one">
                      <div class="icon"> <img src="/images/data-management.png" alt="image"> </div>
                      <div class="content">
                        <h4>State-of-the-art Infrastructure</h4>
                        <p>All VPS servers are powered by trusted infrastructure to keep them upand running.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="service-one">
                      <div class="icon"> <img src="/images/campaign.png" alt="image"> </div>
                      <div class="content">
                        <h4>Private Networking</h4>
                        <p>Setup your own network instantly in a few clicks.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="text-center text-lg-start"> <img src="/images/vps-secure.jpg" alt="Reseller Hosting" width="500"> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
<section class="section-gap ">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10 bg1 support">
        <div class="row g-4 align-items-center justify-content-between">
          <div class="col-lg-7">
            <div class="section-header">
              <h2>Our Solution Support Center</h2>
              <p>Our Solution Support Center provides expert assistance, troubleshooting, and guidance for seamless technical support.</p>
              <div class="mt-3">
                <ul>
                  <li class="text-center"> <span class="icon"><img src="/images/talk.webp" alt=""></span>
                    <label class="content">0212 909 9656</label>
                  </li>
                  <li class="text-center"> <span class="icon"><img src="/images/support2.webp" alt=""></span>
                    <label class="content">24*7 Support</label>
                  </li>
                  <li class="text-center"> <span class="icon"><img src="/images/customer.webp" alt=""></span>
                    <label class="content">Talk to customer</label>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="text-center text-lg-end"> <img src="/images/support-center.png" alt="Reseller Hosting"> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-gap">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="section-header gap-bottom center">
          <h2>Frequently Asked Questions</h2>
          <p>Get the answers to frequently asked questions about our premium hosting service.</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10">
        <ul class="accordion">
          <li>
            <h5> What is a KVM VPS? </h5>
            <p>A KVM VPS Server leverages Kernel-based Virtual Machine technology to partition a single physical server into multiple isolated virtual servers, each with allocated resources like CPU, memory, and storage. This architecture ensures that each VPS operates independently, providing a stable and secure environment without the higher cost of a dedicated server. </p>
          </li>
          <li>
            <h5> Why choose a VPS server? </h5>
            <p>VPS Hosting provides complete isolation for your server. Each virtual server operates independently with its own environment such that the actions of one server does not impact others. You gain full control with root access, providing you with the flexibility to install any applications or configurations that you need. Ideal for users needing reliable performance with the flexibility for customization, KVM VPS serves as a balanced hosting solution that offers an isolated, customizable and secure hosting environment.</p>
          </li>
          <li>
            <h5>What is the Difference Between SSD and NVMe Servers? </h5>
            <p>SSD (Solid State Drive) servers are designed for enhanced performance, offering faster disk read/write speeds than traditional HDDs, suitable for websites and applications with high-performance demands. NVMe (Non-Volatile Memory Express) technology, an advancement over standard SSDs, provides superior read/write speeds, further boosting performance for even the most demanding applications. </p>
          </li>
          <li>
            <h5>What Hosting Panels are Supported?</h5>
            <p>While purchasing an SSD or NVMe VPS Server, you have the option to add a cPanel or Plesk license. These options are only available to plans that fulfill the minimum system requirements of the respective panel, ensuring a compatible and secure environment for your server.</p>
          </li>
          <li>
            <h5>Is a Dedicated IP available? </h5>
            <p>For Cloud Hosting (US) packages, you can purchase a Dedicated IP for an additional cost by raising a support ticket. Unfortunately, for Cloud Hosting (IN) packages, we do not provide a Dedicated IP </p>
          </li>
          <li>
            <h5>What is Your Backup Policy?</h5>
            <p>Responsibility for backups and web content lies with you. We advise maintaining regular backups and safeguarding your content independently. Options for backups include utilizing the tools provided in your cPanel or opting for a remote backup solution, ensuring your data’s safety and recoverability.</p>
          </li>
          <li>
            <h5>Can I Increase or Decrease Resources on My VPS Server?</h5>
            <p>Resource adjustments on your VPS server are facilitated through plan upgrades within the same category. At this time, it is not feasible to decrease resources or downgrade your service plan, ensuring consistent performance and stability for your applications. </p>
          </li>
          <li>
            <h5>Can I Upgrade from SSD-based to NVMe-based Plan or Vice-Versa? </h5>
            <p>Currently, we support upgrades within the same storage type only. This means upgrades are permissible from one SSD plan to a higher-tier SSD plan. Upgrades between SSD and NVMe plans are not supported at this time. </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
</Layout>
