---
---

<footer class="main-footer">
  <div class="container">
    <div class="row g-4">
      <div class="col-lg-4">
        <div class="company-info"> 
          <a href="index.html" class="logo"> <img src="/images/logo.png" alt="logo"> </a>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque quae cumque sit porro perferendis? Corrupti nesciunt dicta ratione libero rerum atque voluptatum, dolorum fugiat alias.</p>
          <div class="social-info"> 
            <a href=""><i class="fab fa-facebook"></i></a> 
            <a href=""><i class="fab fa-instagram"></i></a> 
            <a href=""><i class="fab fa-pinterest"></i></a> 
            <a href=""><i class="fab fa-youtube"></i></a> 
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="row g-4">
          <div class="col-lg-4 col-sm-6 col-12">
            <div class="footer-list">
              <h4>Services</h4>
              <ul>
                <li><a href="reseller-hosting.html">Reseller Hosting</a></li>
                <li><a href="email-hosting.html">E-Mail Hosting </a></li>
                <li><a href="dedicated-server.html">Dedicated Server</a></li>
                <li><a href="vps-server.html">Virtual Private Server</a></li>
                <li><a href="virtual-disc-service.html">Virtual Disk Service</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-12">
            <div class="footer-list">
              <h4>Quick Link</h4>
              <ul>
                <li><a href="about-us.html">About us</a></li>
                <li><a href="co-location.html">Co-Location</a></li>
                <li><a href="contact-us.html">Contact us</a></li>
                <li><a href="policy.html">Privacy Policy</a></li>
                <li><a href="terms.html">Terms And Condition</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-12">
            <div class="footer-list">
              <h4>Our Awards</h4>
              <div class="footer-images">
                <div> <img src="/images/seal_digicert.png" alt="img"> </div>
                <div> <img src="/images/certificate.svg" alt="img"> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="copy-right-info">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p>© 2015 - 2025 Youbrand Name. | All Right Reserved.</p>
      </div>
    </div>
  </div>
</div>
