---
---

<header class="main-header">
  <nav class="nabbar-nav">
    <div class="container container-lg">
      <div class="logo-and-navbar">
        <button class="navbar-button"> <i class="bi bi-list"></i> </button>
        <a class="nav-brand" href="index.html"> <img src="/images/logo.png" alt="logo"> </a>
      </div>
      <div class="header-menu">
        <div class="inner">
          <div class="mobile-menu-header">
            <div class="logo"> <img src="/images/logo.png" alt="atriohost web hosting services"> </div>
            <div class="close-icon">
              <button class="navbar-close"> <i class="bi bi-x"></i> </button>
            </div>
          </div>
          <ul class="mainmenu">
            <li> <a href="index.html"> <span>Home</span> </a> </li>
            
            <li class="has-droupdown megamenu"> 
              <a href="javascript:void(0)"> 
                <span class="offer" data-offer="Sale">Domain</span> 
                <i class="ri-arrow-down-s-line dropdown-indicator"></i> 
              </a>
              <div class="submenu">
                <div>
                  <ul class="megamenu-item">
                    <li>
                      <p>Register</p>
                      <ul>
                        <li> 
                          <a href="domain-registration.html">
                            <div class="inner">
                              <div class="icon">
                                <div class="inner"> <i class="fal fa-globe"></i> </div>
                              </div>
                              <div class="content">
                                <div class="headings"> Register Domain <span class="labels">10% Off</span> </div>
                                <div class="subheading"> Book your domain name here!</div>
                              </div>
                            </div>
                          </a> 
                        </li>
                        <li> 
                          <a href="bulk-domain-registration.html">
                            <div class="inner">
                              <div class="icon">
                                <div class="inner"> <i class="fal fa-box"></i> </div>
                              </div>
                              <div class="content">
                                <div class="headings"> Bulk Domain Registration </div>
                                <div class="subheading">Bulk registrations at lower rates</div>
                              </div>
                            </div>
                          </a> 
                        </li>
                      </ul>
                    </li>
                    <li>
                      <p>Transfer</p>
                      <ul>
                        <li> 
                          <a href="domain-transfer.html">
                            <div class="inner">
                              <div class="icon">
                                <div class="inner"> <i class="fal fa-exchange-alt"></i> </div>
                              </div>
                              <div class="content">
                                <div class="headings">Transfer Domain </div>
                                <div class="subheading"> Transfer your domain to us</div>
                              </div>
                            </div>
                          </a> 
                        </li>
                        <li> 
                          <a href="bulk-domain-transfer.html">
                            <div class="inner">
                              <div class="icon">
                                <div class="inner"> <i class="fal fa-file-export"></i> </div>
                              </div>
                              <div class="content">
                                <div class="headings"> Bulk Domain Transfer </div>
                                <div class="subheading"> Save by moving domains in bulk </div>
                              </div>
                            </div>
                          </a> 
                        </li>
                      </ul>
                    </li>
                    <li>
                      <p>Add-ons</p>
                      <ul>
                        <li> 
                          <a href="free-with-domain-registration.html">
                            <div class="inner">
                              <div class="icon">
                                <div class="inner"> <i class="fal fa-gift"></i> </div>
                              </div>
                              <div class="content">
                                <div class="headings">Free with every domain </div>
                                <div class="subheading"> Email, DNS, theft protection and more</div>
                              </div>
                            </div>
                          </a> 
                        </li>
                        <li> 
                          <a href="domain-name-suggestion-tool.html">
                            <div class="inner">
                              <div class="icon">
                                <div class="inner"> <i class="fal fa-lightbulb"></i> </div>
                              </div>
                              <div class="content">
                                <div class="headings"> Name suggestion tool </div>
                                <div class="subheading"> Use suggestion tool for ideas on your domain name </div>
                              </div>
                            </div>
                          </a> 
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </li>

            <li class="has-droupdown megamenu"> 
              <a href="javascript:void(0)"> 
                <span class="offer" data-offer="Sale">Hosting</span> 
                <i class="ri-arrow-down-s-line dropdown-indicator"></i> 
              </a>
              <div class="submenu">
                <div>
                  <ul class="megamenu-item">
                    <li>
                      <p>Hosting</p>
                      <ul>
                        <li> 
                          <a href="shared-hosting.html">
                            <div class="inner">
                              <div class="icon">
                                <div class="inner"> <i class="fal fa-window-restore"></i> </div>
                              </div>
                              <div class="content">
                                <div class="headings"> Web Hosting <span class="labels">10% Off</span> </div>
                                <div class="subheading"> Hosting for professional websites, blog</div>
                              </div>
                            </div>
                          </a> 
                        </li>
                        <li> 
                          <a href="wordpress-hosting.html">
                            <div class="inner">
                              <div class="icon">
                                <div class="inner"> <i class="fab fa-wordpress"></i> </div>
                              </div>
                              <div class="content">
                                <div class="headings"> WordPress Hosting </div>
                                <div class="subheading"> Powerful, secure WordPress hosting</div>
                              </div>
                            </div>
                          </a> 
                        </li>
                      </ul>
                    </li>
                    
                    <li>
                      <p>Server</p>
                      <ul>
                        <li> 
                          <a href="vps-hosting.html">
                            <div class="inner">
                              <div class="icon">
                                <div class="inner"> <i class="fal fa-network-wired"></i></div>
                              </div>
                              <div class="content">
                                <div class="headings"> VPS Server </div>
                                <div class="subheading"> With KVM Hypervisor implementation</div>
                              </div>
                            </div>
                          </a> 
                        </li>
                        <li> 
                          <a href="dedicated-hosting.html">
                            <div class="inner">
                              <div class="icon">
                                <div class="inner"> <i class="fal fa-hdd"></i> </div>
                              </div>
                              <div class="content">
                                <div class="headings"> Dedicated Server </div>
                                <div class="subheading"> Perfect for larger websites and apps</div>
                              </div>
                            </div>
                          </a> 
                        </li>
                      </ul>
                    </li>
                    
                    <li>
                      <p>Business</p>
                      <ul>
                        <li> 
                          <a href="cloud-hosting.html">
                            <div class="inner">
                              <div class="icon">
                                <div class="inner"> <i class="fal fa-cloud"></i> </div>
                              </div>
                              <div class="content">
                                <div class="headings">Cloud Hosting</div>
                                <div class="subheading"> Reliable, Scalable, Affordable, Secure, Profitable.</div>
                              </div>
                            </div>
                          </a> 
                        </li>
                        <li> 
                          <a href="reseller-hosting.html">
                            <div class="inner">
                              <div class="icon">
                                <div class="inner"> <i class="fal fa-users-cog"></i> </div>
                              </div>
                              <div class="content">
                                <div class="headings"> Reseller Hosting </div>
                                <div class="subheading"> Start your web hosting business today</div>
                              </div>
                            </div>
                          </a> 
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </li>

            <li class="has-droupdown megamenu"> 
              <a href="javascript:void(0)"> 
                <span class="offer" data-offer="Sale">Solutions</span> 
                <i class="ri-arrow-down-s-line dropdown-indicator"></i> 
              </a>
              <div class="submenu">
                <div>
                  <ul class="megamenu-item">
                    <li>
                      <p>Email</p>
                      <ul>
                        <li> 
                          <a href="business-email.html">
                            <div class="inner">
                              <div class="icon">
                                <div class="inner"> <i class="fal fa-envelope-open-text"></i> </div>
                              </div>
                              <div class="content">
                                <div class="headings"> Bussiness Email <span class="labels">10% Off</span> </div>
                                <div class="subheading"> Simple and powerful webmail</div>
                              </div>
                            </div>
                          </a> 
                        </li>
                        <li> 
                          <a href="titan-business-email-hosting.html">
                            <div class="inner">
                              <div class="icon">
                                <div class="inner"> <i class="fal fa-at"></i> </div>
                              </div>
                              <div class="content">
                                <div class="headings"> Titan Business Email </div>
                                <div class="subheading"> Professional Email for your Business</div>
                              </div>
                            </div>
                          </a> 
                        </li>
                        <li> 
                          <a href="enterprise-email-hosting.html">
                            <div class="inner">
                              <div class="icon">
                                <div class="inner"> <i class="fal fa-mail-bulk"></i> </div>
                              </div>
                              <div class="content">
                                <div class="headings"> Enterprises Email </div>
                                <div class="subheading"> Advanced and Corporate-class email</div>
                              </div>
                            </div>
                          </a> 
                        </li>
                        <li> 
                          <a href="google_apps.html">
                            <div class="inner">
                              <div class="icon">
                                <div class="inner"> <i class="fal fa-envelope"></i> </div>
                              </div>
                              <div class="content">
                                <div class="headings"> Google Workspace </div>
                                <div class="subheading"> Email, calendar and storage on any device</div>
                              </div>
                            </div>
                          </a> 
                        </li>
                      </ul>
                    </li>
                    <li>
                      <p>Security</p>
                      <ul>
                        <li> 
                          <a href="digital-certificate.html">
                            <div class="inner">
                              <div class="icon">
                                <div class="inner"> <i class="fal fa-lock"></i> </div>
                              </div>
                              <div class="content">
                                <div class="headings"> SSL Certificate </div>
                                <div class="subheading"> Ensure secure, encrypted website.</div>
                              </div>
                            </div>
                          </a> 
                        </li>
                        <li> 
                          <a href="sitelock.html">
                            <div class="inner">
                              <div class="icon">
                                <div class="inner"> <i class="fal fa-user-shield"></i> </div>
                              </div>
                              <div class="content">
                                <div class="headings"> Sitelock Malware </div>
                                <div class="subheading"> Versatile, efficient, user-friendly, secure.</div>
                              </div>
                            </div>
                          </a> 
                        </li>
                        <li> 
                          <a href="codeguard.html">
                            <div class="inner">
                              <div class="icon">
                                <div class="inner"> <i class="fal fa-database"></i> </div>
                              </div>
                              <div class="content">
                                <div class="headings">CodeGuard Backup </div>
                                <div class="subheading"> Automatic, reliable backups for your website.</div>
                              </div>
                            </div>
                          </a> 
                        </li>
                        <li> 
                          <a href="acronis-backup.html">
                            <div class="inner">
                              <div class="icon">
                                <div class="inner"> <i class="fal fa-shield-alt"></i> </div>
                              </div>
                              <div class="content">
                                <div class="headings">Acronis Cyber Backup</div>
                                <div class="subheading"> Backup your data on the cloud - recover any time.</div>
                              </div>
                            </div>
                          </a> 
                        </li>
                      </ul>
                    </li>
                    <li class="megamenu_img">
                      <div class="menu-lists"> <img src="/images/menu_img-elite.png" alt="img"> </div>
                    </li>
                  </ul>
                </div>
              </div>
            </li>

            <li> <a href="about-us.html"> <span class="offer" data-offer="3-DAYS">FREE TRIAL</span> </a> </li>
            
            <li class="web-off"> <a href="#"> <span>Need Help ?</span> </a> </li>
            <li class="web-off"> <a href="#"> <span>Co-Location</span> </a> </li>
            <li class="web-off"> <a href="#"> <span>Bank</span> </a> </li>
          </ul>
        </div>
      </div>
      <div class="nav-right-side-bar">
        <div class="inline-btns d-none d-md-flex"> 
          <a href="contact-us.html" class="btns three"><span>Live chat</span></a> 
          <a href="" class="btns one"><span>Client Area</span></a> 
        </div>
        <div class="inline-btns d-md-none"> 
          <a href="" class="btns three"><span>Client Area</span> <i class="fal fa-user-cog"></i></a> 
        </div>
      </div>
    </div>
  </nav>
</header>
