---
---

<div class="topbar">
  <div class="container">
    <div class="row">
      <div class="col-8">
        <div class="left-topbar">
          <ul>
            <li> <a href="#" rel=""> <i class="ri-whatsapp-line"></i> <span>+8801712345678</span> </a> </li>
            <li> <a href="#"> <i class="ri-mail-line"></i> <span>sales@yourbrand.com</span> </a> </li>
            <li> <a href="#"> <i class="ri-book-open-line"></i> <span>Knowledge Base</span> </a> </li>
            <li> <a href="#"> <i class="ri-gift-line"></i> <span>Affiliates</span> </a> </li>
          </ul>
        </div>
      </div>
      <div class="col-4 d-flex justify-content-end">
        <div class="topbar-right text-lg-end">
          <ul>
            <li>
              <a href="contact-us.html">
                <i class="ri-customer-service-2-line"></i>
                <span>Support</span>
              </a>
            </li>
            <li><a href="login.html"><i class="ri-user-settings-line"></i><span>Login</span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
